@use "mixins" as mixin;
@use "colors" as color;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo";
  color: #fff;
}

html {
  height: 100vh;
  background-image: url("pics/Background1.jpg");
  background-repeat: no-repeat;
  background-size: 200% auto;
}

.container {
  @include mixin.displayFlex($Justify: center);
}
.form-contain {
  width: clamp(200px, 70%, 450px);
  margin: 150px 10px;
  background: color.$formBground;
  text-align: center;
  @include mixin.displayFlex($Direction: column, $Gap: 15px);
  padding: 50px 20px;
}
form {
  @include mixin.displayFlex($Direction: column, $Gap: 15px);
  .form-control {
    width: 100%;
    @include mixin.displayFlex($Direction: column);
    input {
      border: 1px solid color.$primary;
      line-height: 2rem;
    }
  }
  text-align: start;
  align-items: start;
  button {
    border: none;
    padding: 10px 30px;
    background-color: color.$primary;
  }
}
@media only screen and (min-width: 601px) {
  html {
    background-size: 160% auto;
  }
  .container {
    display: block;
    .form-contain {
      max-width: 40vw;
      margin: 100px 70px;
      padding: 50px 20px;
      h1 {
        font-size: 25px;
      }
      p {
        font-size: 15px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  html {
    background-size: 200% auto;
  }
  .container {
    display: block;
    .form-contain {
      max-width: 50vw;
      margin: 70px 70px;
      padding: 50px 20px;
      h1 {
        font-size: 20px;
      }
      p {
        font-size: 10px;
      }
      .form-control label {
        font-size: 12px;
      }
    }
  }
}
